*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.page{
    background: url("../images/bg.jpg");
    height: 100vh;
}
.bal{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 300px;
    left: 350px;
}